*.zip
spa
.idea/
node_modules
bower_components
app/components
build
.idea/.name
.idea/abbott-dicetel-cobalt.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
